table{
    width: 80%;
    border-spacing: unset;
    margin: auto;

}
caption, thead tr:first-of-type th:last-child{
    font-size: 1.5em;
}
caption::first-line, th{
    text-transform: capitalize;
}
th, td{
    border: solid #b58982 1px;
    border-spacing: unset;
    border-collapse: collapse;
}
body{
    text-align: center;
}
td{
    text-transform: uppercase;
}
th{
    padding: 1% 0 1% 0;
}
tbody tr th:last-child{
    background-color: #8870ff;
}
tbody tr th:last-child, tbody tr th:first-of-type{
    color: #f6f8ff;

}
thead tr:first-of-type th:last-child{
    color: #0003ff;
    text-transform: none;
    padding: 2%;
    
}
thead tr:first-of-type th::first-letter{
    text-transform: capitalize;
}
tbody tr:nth-child(2n+1) th:first-of-type{
    background: #7e3661;
}

tbody tr:nth-child(2n) th:first-of-type{
    background: #888888;
}
tbody tr:nth-child(2n) td{
    background: #fcb941;
}

tbody tr:nth-child(2n+1) td{
    background: #f1654c;
}