body {
    display: flex;
}
h1{
    text-align: center;
}
img {
    width: 100%;
    border-radius: 50%;
}

.block {
    display: block !important;
    width: 100%;
    padding: 0;
}

.sidebar, li {
    border-radius: 1rem;
}

.sidebar {
    width: 15%;
    height: 100vh;
    align-items: unset;
    position: fixed;
}

ul, li, .centre {
    margin-top: 5%;
}

li {
    border: solid;
    text-align: center;
}

#profil {
    top: 0;
}

.centre {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.container {
    margin-left: 15%;
}

#profil div {
    display: none;
}

.stay {
    position: static;
}

footer {
    z-index: 2;
    position: fixed;
    bottom: 3%;
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: black;
}

@media screen and (max-width: 992px) {
    body {
        flex-wrap: wrap;
    }

    #profil {
        position: fixed;
        top: 0;
        right: 0;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
        font-size: 1em;
    }

    #profil div {
        display: block;
    }

    img {
        width: 23%;
    }

    h1 {
        font-size: medium;
    }

    a {
        font-size: x-small;
    }

    .container {
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .textheader {
        display: block;
        border-spacing: 2%;
    }

    footer {
        width: 85vw;
        margin-left: 15%;
        position: fixed;
        background-color: white;
        bottom: 0;
    }

    .CDA {
        z-index: 2;
    }
}

@media screen and (max-width: 405px) {
    a {
        font-size: xx-small;

    }
}